/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  General styles
========================================================================== */    

/* ===spacing==== */
.ma-auto { margin: 0 auto;}

.pl-mc {padding-left: .4em}
.pl-mi {padding-left: .88em;}
.pl-sm {padding-left: 1.75em;}
.pr-sm {padding-right: 1.75em;}

/* ===display==== */
.inlb {display: inline-block; }

/* ===dumb defaults==== */
a {
  text-decoration: none;
  color: #413a42;
}

ul { 
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

/* ===type==== */

h1, h2, h3 {
  font-family: "Times New roman", Times, serif;
  margin-top: 0;
}

h3 {
  font-weight: 500;
  margin-bottom: 0;
}

/* ===size==== */
.two-thirds, .one-third {
  float: left;
  display: inline-block;
}

.two-thirds {
  width: 610px;
}

.one-third {
  width: 310px
}

/* ===size==== */
.orange-gr {
  background-image: -moz-linear-gradient(top, #f9b672, #ffa837); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffa837),color-stop(1, #f9b672)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9b672', endColorstr='#ffa837'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9b672', endColorstr='#ffa837')"; /* IE8 */
  background-color: #f9b672;
}

/* ===clearfix==== */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*  Specific styles
========================================================================== */

html, body {
  width: 100%;
}

body {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: #413a42;
  background: #dfb473;
  background-image: -moz-linear-gradient(top, #dfb473, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dfb473),color-stop(1, #fff)); /* Safari & Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#dfb473'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#dfb473')"; /* IE8 */
}

img { width: 550px; }

.header {
  height: 150px;
  background-image: url("../img/palms2.jpg");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
    margin-top: 1.5em;
    width: 960px;
    background: #ededed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-box-shadow: 0px 0px 6px 2px #9f9f9f; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 0px 6px 2px #9f9f9f; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#7f7f7f', Direction=145, Strength=3);
    zoom: 1;
}

.title {
  margin: 0em;  
  font-size: 4em;
  padding-top: 0.2em;
  color: #dedede;
  line-height: 1.2em;
}

.sub-title {
  margin-top: 0;
  font-weight: 500;
  color: #dedede;
}

.cont-title {
  color: #413a42;
  margin-bottom: 0.5em;
}

nav {
  height: 35px;
  zoom: 1;
  margin-bottom: 1em;
}

nav ul { 
  margin-top: 0; 
}
/* #ffa837; */

nav li {
  height: 100%;
  border-right: solid 1px #5a5a5a;
  margin-right: -4px;
}

nav li:hover {
  background-color: #ffa837; 
  color: #eeeeee;
}

nav li:active {
  background-color: #ffa837; 
  color: #eeeeee;
}

.nav a {
  padding: 0em 1.75em;
  line-height: 35px;
  display: inline-block;
}

.nav-left a {
  border-left: 0;
  margin-left: 0.4em;
}

.nav-right a {
  border-right: 0;
}

.phone, .address, .email {
  padding-bottom: 0.5em;
}
/*  Footer
========================================================================== */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 40px; 
  padding-top: 0.95em;
}

footer {
  width: 960px;
  -moz-box-shadow: 0px 4px 6px 2px #9f9f9f; /* for Firefox 3.5+ */
  -webkit-box-shadow: 0px 4px 6px 2px #9f9f9f; /* for Safari and Chrome */
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#7f7f7f', Direction=180, Strength=3);
}

/*-------------> BAROUSEL */
.barousel
{
    position:relative;
    margin-bottom:0px;
    width:550px;
    height:367px;
    border-top:3px solid #262626;
}

.barousel_image
{
    position:absolute;
    z-index:10;
    width:550px;
    height:375px;
}

.barousel_image img
{
    position:absolute;
    display:none;
}

.barousel_image img.default
{    
    display:block;
}

.barousel_image img.current
{
    z-index:10;
}

.barousel_image img.previous
{
    z-index:5;
}

.barousel_content
{
    position:absolute;
    padding:15px 18px 0 18px;    
    z-index:50;
    background:url(../img/bg_barousel_content.png) repeat 0 0;
    color:#fff;
    width:247px;
    bottom:36px;
    left:10px;
}

.barousel_content div
{
    display:none;    
}

.barousel_content div.default
{
    display:block;    
}

.barousel_content p
{
    font-size:13px;
    font-weight:normal; 
    line-height:17px;   
}

.barousel_content p.header
{
    font-size:28px;
    font-weight:normal;
    line-height:28px;
    color:#fff55b;
}

.barousel_content a,
.barousel_content a:hover
{
    color:#fff55b;
    background-color:transparent !important;
}

.barousel_nav
{
    position:absolute;
    padding:3px 3px 0px 0;
    height:23px;    
    background:#262626;
    bottom:0;
    z-index:20;
    width:547px;
}

.barousel_nav .counter
{    
    float:right;
    font-size:0.75em;
    color:#fff;
    margin:3px 5px 0 0;
}

.barousel_nav ul
{
    float:right;
    padding:0;
    margin:0;
}

.barousel_nav li
{
    float:left;
    padding-left:3px;
    font-size:0;
    line-height:0;
    list-style:none;
}

.barousel_nav li a
{
    display:block;
    width:25px;
    height:20px;
    background-color:#4d4d4d;
    font-size:0;
    line-height:0;
    text-decoration:none;
}

.barousel_nav li a:hover
{
    background-color:#6e6e6e;
}

.barousel_nav li a.current
{
    background-color:#fff55b;
}

.barousel_nav li.prev a
{
    background-image:url(../img/left.png);
    background-repeat:no-repeat;
    background-position:4px 2px;
}

.barousel_nav li.next a
{
    background-image:url(../img/right.png);
    background-repeat:no-repeat;
    background-position:4px 2px;
}

.barousel img.ajax_loader
{
    display:none;
    position:absolute;
    z-index:99;
    top:70px;
    left:135px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
