<div class="sidebar pr-sm pl-mi">
  <h2 class="sub-title cont-title">Contact Us</h2>
  <ul class="no-list-type contact-li">
    <li>
      <h3>Phone</h3>
    </li>
    <li class="phone"><%= @phone %></li> 
    <li>
      <h3>Email</h3>
    </li> 
    <li class="email">
      <a href="mailto:ovmhp_managers@yahoo.com">ovmhp_managers@yahoo.com</a>
    </li> 
    <li>
      <h3>Address</h3>
    </li> 
    <li class="address">1540 E Trenton Ave <br> Orange, CA 92867
    </li>
  </ul>
</div>