<head>
    <title><%= current_park["name"] %> Mobile Home Park in Orange, CA | Orange County Senior Mobile Home Park</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<%= current_park["name"] %>, Mobile Home Parks, Senior Communities, Senior living, Mobile Homes For Sale in Orange County, California, 55 Mobile Home Pars" />
    <meta name="description" content="<%= current_park["name"] %> Mobile Home Park in Orange, CA is a 55 plus senior mobile home park located in Orange County, CA.  New and used manufactured homes for sale. (714)538-1749." />


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/normalize.css" type="text/css">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <script src="js/vendor/modernizr-2.6.2.min.js" type="application/javascript"></script>
</head>
