<nav class="orange-gr">
  <ul class="no-list-type">
    <li class="inlb nav nav-left"><a href="/">Home</a></li>
    <li class="inlb nav"><a href="gallery" id="gallery">Photo Gallery</a></li>
    <li class="inlb nav"><a href="homes" id="homes">Homes For Sale  </a></li>
    <li class="inlb nav nav-right"><a href="contact" id="contact">Contact Us</a></li>
  </ul>
</nav>