<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>current_park["name"] Mobile Home Park in Orange, CA | Orange County Senior Mobile Home Park</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Orange Village, Mobile Home Parks, Senior Communities, Senior living, Mobile Homes For Sale in Orange County, California, 55 Mobile Home Pars" />
        <meta name="description" content="Orange Village Mobile Home Park in Orange, CA is a 55 plus senior mobile home park located in Orange County, CA.  New and used manufactured homes for sale. (714)538-1749." />


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/normalize.css" type="text/css">
        <link rel="stylesheet" href="/main.css" type="text/css">
        <script src="js/vendor/modernizr-2.6.2.min.js" type="application/javascript"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="page-wrap">
          <div class="container ma-auto cf">
            <%= current_park %>
            <header class="pl-sm header">
              <span class="title-wr">
                <h1 class="title"> <%= current_park["name"] %> </h1>
                <h2 class="sub-title">A Mobile Home Community</h2>
              </span>
            </header>  

            <nav class="orange-gr">
              <ul class="no-list-type">
                <li class="inlb nav nav-left"><a href="index.html">Home</a></li>
                <li class="inlb nav"><a href="gallery.html" id="gallery">Photo Gallery</a></li>
                <li class="inlb nav"><a href="homes.html" id="homes">Homes For Sale  </a></li>
                <li class="inlb nav nav-right"><a href="contact.html" id="contact">Contact Us</a></li>
              </ul>
            </nav>
            
            <div class="two-thirds" >
                <!--      NB: For SOME REASON some of the images are JPG and some are jpg. PAY ATTN -->
              <div id="main-body" class="pl-sm">
                <h2 class="sub-title cont-title">Welcome to <%= current_park["name"] %> </h2>
                <div id="any_id" class="barousel">
                    <div class="barousel_image">
                        <!-- image 1 -->
                        <img src="img/park/ov-sign.jpg" alt="<%= current_park["name"] %> Senior Mobile Home Park" class="default" />
                        <!-- image 2 -->
                        <img src="img/park/main-road1.JPG" alt="The main road" />
                        <!-- image 3 -->
                        <img src="img/park/large-home.JPG" alt="One of our homes" />
                        <!-- image 4 -->
                        <img src="img/park/pool1.JPG" alt="We have a pool!" />
                        <!-- image 5 -->
                        <img src="img/park/nice-home.JPG" alt="A nice home" />
                        <!-- image 6 -->
                        <img src="img/park/road.JPG" alt="Road through the park" />
                        <!-- image 7 -->
                        <img src="img/park/animals.JPG" alt="A nice garden" />
                        <!-- image 8 -->
                        <img src="img/park/nice-home1.JPG" alt="Another nice home" />
                        <!-- image 9 -->
                        <img src="img/park/home-foliage.JPG" alt="Another nice home" />
                        <img src="img/park/large-sign.JPG" alt="The main road" />
                    </div>
                    <div class="barousel_content">
                        <!-- content 1 -->
                        <div class="default">
                            Hello 1
                        </div>
                        <!-- content 2 -->
                        <div>
                            hello world 2
                        </div>
                        <!-- content 3 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 4 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 5 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 6 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 7 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 6 -->
                        <div>
                            hello world 3
                        </div>
                        <!-- content 7 -->
                        <div>
                            hello world 3
                        </div>
                        <div>
                            hello world 3
                        </div>
                    </div>
                    <div class="barousel_nav">
                    </div>
                </div>
                
                <p>
                 Orange Village is a 55+ mobile home park situated behind a beautiful and quiet residential neighborhood in Orange County, just minutes from the 55, 57, and 91 freeways.&nbsp; We're a short walk to restaurants, grocery stores, and other shopping.&nbsp; At least one permanent resident of each mobile home must be 55 years of age or older and all other residents must be at least 18.&nbsp;
                </p>
                <p>
                 We're one of the best leased-land communities in Orange County, California.&nbsp; The low monthly lot lease fee covers exclusive tenancy of your own home&#39;s private yard and carport as well as use of the community recreational and laundry facilities.&nbsp; Own your own mobile home with attached private parking without the responsibilities of caring for a large yard or the recreational facilities.
                </p>

              </div>
            
            </div>

            <div class="one-third">
              <div class="sidebar pr-sm pl-mi">
                <h2 class="sub-title cont-title">Contact Us</h2>
                <ul class="no-list-type contact-li">
                  <li>
                    <h3>Phone</h3>
                  </li>
                  <li class="phone">xxx-xxx-xxxx</li> 
                  <li>
                    <h3>Email</h3>
                  </li> 
                  <li class="email">xxx-xxx-xxxx@xxxXxxx.com</li> 
                  <li>
                    <h3>Address</h3>
                  </li> 
                  <li class="address">1540 E Trenton Ave <br> Orange, CA 92867
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <footer class="orange-gr ma-auto">
            <div class="two-thirds pl-sm">
              Contact us at xxx-xxx-xxxx
            </div>  
          </footer>
          
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="application/javascript"></script>
        <script src="js/plugins.js" type="application/javascript"></script>
        <script src="js/main.js" type="application/javascript"></script>
        <script src="js/carousel.js" type="application/javascript"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
